.grid-container {
	display: grid;
	grid-template-areas:
		'input input input'
		'input input input'
		'input input input'
		'program cpu register'
		'program program-counter register'
		'program . register'
		'output output output'
		'output output output'
		'output output output';
}

.cpu {
	grid-area: cpu;
}

.program {
	grid-area: program;
}

.program-counter {
	grid-area: program-counter;
}

.register {
	grid-area: register;
}

.input {
	grid-area: input;
}

.output {
	grid-area: output;
}
